@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  border-collapse: collapse;
}
.left-section{
  background-color:#202d33 ;
  width: 30vw;
  min-height: 100vh !important;
  background-image: url('https://wallpaperaccess.com/full/2224368.png');

  
}
.right-section{
  width: 70vw;
  background-image: url('https://wallpaperaccess.com/full/2224368.png');
  min-height:100vh ;
  border: .1px solid grey;
}
.page{
  display: flex;
 
}
.left-topBar,.right-topBar{
  height: 4rem;
  background-color: #202d33;
  border: .5px solid black;
}
img{
  max-width: 100% !important;
}
.left-topBar{
  color: white;
  display: flex;
  justify-content: space-between;
}

.left-top-icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}
.right-topBar img{
  max-height: 3.5rem
}
.right-topBar{
  display: flex;
}
.chats{
  max-width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-size: larger;
  font-weight: 700;
  padding: 5px;
  border: .1px solid black;
  border-collapse: collapse;
}
.chats img{
  margin-right: 3rem;
}
.chats:hover{
background-color: #495d66;
transition: .5s;
cursor: pointer;
}

p{
  background-color:#005c4b;
  width: fit-content;
  padding: 8px 1rem;
  border-radius: 9px;
  color: white;
  margin-left: 1rem;
}
.right-chats-section{
  height: 85%;
  overflow-y:scroll; overflow-x:hidden;
  max-height: 462px;
}
.input{
  background-color: #202d33;
  height: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.input input{
  background-color: #394a52b0;
  font-size: larger;
  color: white;
  border: none;
}
input{
  width: 80%;
  height: 60%;
  border-radius: 10px;
}
.left p{
  margin-top:5px;
  margin-bottom: 5px;
}
.right p{
  background-color: rgb(150, 150, 134);
  margin-top:5px;
  margin-bottom: 5px;
}
.right{
  display: flex;
  justify-content: right;
  margin-right: 2rem;
  
}
.time{
  color: grey;
  font-size: small;
  font-weight: 100;
}
i:hover{
cursor: pointer;
}

.welcome{
  width: 100%;
}
.welcome img{
  object-fit: contain;
 
}
h3{
  color: white;
}
button{
  padding: .5rem 1rem;
  cursor: pointer;
  border-radius: 11px;
}
button:hover{
  background-color: #005c4b83;
  transition: .5s;
}
.search{
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.search input{
  background-color: #394a52b0;
  font-size: larger;
  border: 1px solid black;
  color: white;
  height: 80%;
}